<html>

			<title>Ola's blog</title>

	<h1>A city guide</h1>
	
	<body>

		<div>
			<h2>
				<a href="">Bern</a>
			</h2>
			<p>
				Bern is the capital of Switzerland. Find more information <a href ="https://de.wikipedia.org/wiki/Bern"> here </a>
			</p>
			<p>published: 24.09.2016
			</p>
		</div>

		<div>
			<h2>
				<a href="">Zurich</a>
			</h2>
			<p>
				Zurich is the largest city in Switzerland and the capital of the canton of Zürich. Find more information <a href ="https://en.wikipedia.org/wiki/Zürich"> here </a>
			</p>
			<p>published: 24.09.2016
			</p>
		</div>

	</body>

</html>
